*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body
{
    width: 100%;
    height: 100%;
}
.footer1
{
    margin: 0px;
}
.ra
{
    margin-top: 30px;
    background-color: #FFFFFF;
   box-shadow:1px 1px 10px 1px grey; 
    margin-bottom: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image
{
background-image: url(pic/login/Signup.jpg);  
 background-position: bottom;
    background-size: cover; 
    height: 450px;
}
.overlay
{
   height: 100%;
    /* background: linear-gradient(to left,transparent,rgb(240, 16, 16),100%);  */
}
.text 
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h4{
   
    color: #FFFFFF;
}
.text p{
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}
.text button
{
   
    cursor: pointer;
    background-color: #36B449;
    border: none;
    color: white;
    width: 255px;
    height: 40px;
   
}
.create
{
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    
}
.create:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.details
{
    text-align: center;
}
h2
{
    text-align: center;
    margin: 10px;
    font-weight: 300;
    color: #36B449;
    
}
hr
{
    margin-bottom: 20px;
}
.details input
{
     width: 275px;
    height: 40px;
    border: none;
    outline: 0;
     border-bottom: 1px solid #36B449; 

}
.details::placeholder {
    color: #fff;
  }
.details input[type='submit']
{
   
    cursor: pointer;
    background-color: #36B449;
    border: none;
    color: white;
    width: 275px;
    font-size: 15px;
}
a
{
    text-decoration: none;
    font-size: 14px;
    color: #36B449;
}
.details span
{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    color: red;
    margin-left: -138px;
    
}
.link
{
    
    font-size: 14px;
    color: black;
}

input[type="checkbox"]
 {
    width: 16px;
    height: 16px;
   margin-left: -120px;
   
  }
  .lbl
  {
    color: gray;
  }